body {
    font: 13px Arial, Helvetica, sans-serif; 
    padding: 0 20%;
}

h2 {
    margin-bottom: 0;
    font-size: 1.2em; 
}

a:hover {
    background-color: cyan;
}

label {
    font-size: 14px;
}

span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.backward {
    margin-bottom: 10px;
    font-size: 14px;
}

.hidden {
    display: none;
}

#section-main {
    margin: 20% 0px;
}

#section-main p {
    text-align: center;
    font-size: 18px;
}

#recurso,
#enviar {
    padding: .3em; 
    font-size: 1.2em;
}

#principal {
    float: left;
    width: 70%;
}

#secundario {
    float: right;
    width: 25%;
}

#contenidos,
#estados,
#cabeceras,
#codigo {
    border: 2px solid #CCC;
    background: #FAFAFA;
    padding: 1em;
    white-space: pre;

    overflow: scroll;
}

#contenidos {
    min-height: 400px;
    max-height: 600px;
    overflow: scroll;
}

#estados {
    min-height: 200px;
}

#cabeceras {
    min-height: 200px;
}

#codigo {
    min-height: 100px;
    font-size: 1.5em;
}

.exers {
    font-size: 20px;
}

.aclaracion {
    color: darkcyan;
}

#i-js-3,
#i-js-4 {
    width: 80%;
}

#cabeceras {
    margin-bottom: 30px;
}